* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

.hero {
    position: relative;
    background: url('images/hero.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.navbar {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    width: 150px;
}

.btn-signin {
    background: #e50914;
    padding: 8px 18px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-content h3 {
    font-weight: 400;
    margin-bottom: 20px;
}

.hero-content p {
    margin-bottom: 20px;
}

.get-started {
    margin-top: 20px;
}

.get-started input {
    padding: 10px;
    width: 300px;
}

.get-started button {
    padding: 10px 20px;
    background: red;
    border: none;
    color: white;
    cursor: pointer;
}

.video-section {
    text-align: center;
    padding: 60px 20px;
}

.email-form {
    display: flex;
    justify-content: center;
}

.email-form input {
    padding: 15px;
    width: 400px;
    border: none;
    outline: none;
    font-size: 16px;
}

.email-form button {
    padding: 15px 25px;
    background: #e50914;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.faq {
    background-color: #111;
    padding: 60px 20px;
}

.faq h2 {
    text-align: center;
    margin-bottom: 30px;
}

details {
    background: #333;
    padding: 15px;
    margin: 10px auto;
    width: 80%;
    cursor: pointer;
}

summary {
    font-weight: bold;
}

@media (max-width: 768px) {

    .hero-content h1 {
        font-size: 2rem;
    }

    .email-form {
        flex-direction: column;
        align-items: center;
    }

    .email-form input {
        width: 100%;
        margin-bottom: 10px;
    }

    .email-form button {
        width: 100%;
    }

    .navbar {
        padding: 20px;
    }
}
